/*----------*/
/* Generali */
/*----------*/

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

:root {
    --default-padding: 2rem 1rem;
    --btn-bg-light: #FFFFFF;
    --btn-bg-dark: #23272A;
    --btn-bg-purple: #5865f2;
    --btn-text-light: #FFFFFF;
    --btn-text-dark: #23272A;
    --link-font-size: 13px;
}

.container {
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    margin: auto;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.row-reverse {
    flex-direction: row-reverse;
}

.wrap {
    flex-wrap: wrap;
}

.v-align {
    align-items: center;
}

.h-align {
    justify-content: center;
}


/*------------*/
/* Typography */
/*------------*/

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #23272A;
}


p {
    font-size: 16px;
    line-height: 26px;
}

h1 {
    font-size: 50px;
    line-height: 58px;
}

h2 {
    font-size: 36px;
    line-height: 44px;
}

h3 {
    font-size: 22px;
    line-height: 27px;
}

h4 {
    font-size: 18px;
    line-height: 22px;
}

h5 {
    font-size: 16px;
    line-height: 22px;
}

h6 {
    font-size: 14px;
    line-height: 19.5px;
}


/*---------*/
/* Buttons */
/*---------*/

.btn-small {
    padding: 5px 12px;
    border-radius: 15px;
    border: none;
    font-size: var(--link-font-size);
    text-decoration: none;
    font-weight: 500;
}

.btn {
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
    text-decoration: none;
    font-weight: 500;
}

.btn-light {
    background-color: var(--btn-bg-light);
    color: var(--btn-text-dark);
}

.btn-dark {
    background-color: var(--btn-bg-dark);
    color: var(--btn-text-light);
}

.btn-purple {
    background-color: var(--btn-bg-purple);
    color: var(--btn-text-light);
}

.btn-light:hover {
    box-shadow: 0px 0px 5px #23272A;
    color: #5865f2;
    background-color: #fbfbfb;
}

.btn-dark:hover {
    box-shadow: 0px 0px 5px #23272A;
    background-color: #2a2f33;
}

.btn-purple:hover {
    box-shadow: 0px 0px 5px #23272A;
    background-color: #5865f2de;
}


/*----------------*/
/* Navigation Bar */
/*----------------*/

nav {
    height: 100%;
    width: 100%;
    background-color: #265DE8;
    padding: calc((var(--default-padding)) / 2)
}

.logo {
    min-width: 200px;
    min-height: 30px;
}

.logo img {
    height: 100%;
}

.menu {
    min-height: 30px;
    min-width: 300px;
    flex-grow: 1;
}

.menu ul {
    list-style: none;
    gap: 30px;
    padding-inline-start: 0;
    color: var(--btn-text-light);
    font-size: var(--link-font-size);
}

.menu ul li a {
    color: var(--btn-text-light);
    text-decoration: none;
}

.menu ul li a:hover {
    text-decoration: underline;
}

.login {
    min-height: 30px;
    min-width: 200px;
    justify-content: flex-end;
    align-items: center;
}


/*--------*/
/*  Hero  */
/*--------*/

header {
    background-color: #265DE8;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: var(--default-padding);
}

.hero {
    min-height: 400px;
}

.hero-title {
    min-height: 100px;
    max-width: 600px;
    text-align: center;
}

header .hero .hero-title h1 {
    padding-bottom: 25px;
    color: var(--btn-text-light);
}

header .hero .hero-title p {
    color: var(--btn-text-light);
}

.hero-buttons {
    padding: 30px 0 10px 0;
}

header .hero .hero-buttons a:first-of-type {
    margin-right: 20px;
}


/*------------*/
/*  Sections  */
/*------------*/

.first-block,
.second-block,
.third-block,
.fourth-block {
    padding: 6rem 1rem;
}

.second-block,
.fourth-block {
    background-color: #F3F3F3;
}

.info,
.cta {
    padding: 3rem 0;
}

.cta {
    text-align: center;
}

.image {
    min-width: 300px;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: flex-start;
}

.text {
    min-width: 200px;
    max-width: 250px;
    padding-top: 2rem;
}

.info .image img {
    min-width: 100px;
    max-width: 550px;
}

.info .text h2 {
    padding-bottom: 20px;
}

.second-block .info .image {
    justify-content: flex-end;
}

.cta-info {
    padding: 0 100px;
}

.fourth-block .cta .cta-info h2 {
    padding-bottom: 20px;
}

.cta-image {
    justify-content: center;
}

.fourth-block .cta .cta-image img {
    min-width: 300px;
    max-width: 900px;
}

.fourth-block .cta .cta-start h3 {
    padding: 40px 0 30px 0;
}


/*----------*/
/*  Footer  */
/*----------*/

footer {
    background-color: #23272A;
    padding: var(--default-padding);
}

.footer-info {
    min-width: 300px;
    min-height: 350px;
    padding: 2rem 0;
}

.footer-info h3 {
    color: var(--btn-bg-purple);
    padding-bottom: 20px;
}

.footer-info span {
    font-size: var(--link-font-size);
    color: var(--btn-bg-light);
}

.footer-info span i {
    padding-left: 5px;
}

.footer-info img {
    height: 13px;
    padding-right: 3px;
}

.footer-info div i {
    padding: 15px 10px 0 0;
    color: var(--btn-text-light);
}

.footer-menu {
    flex-grow: 1;
}

.footer-col {
    min-width: 160px;
    min-height: 350px;
    flex-grow: 1;
}

.footer-copyright {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    border-top: 1px solid var(--btn-bg-purple);
    justify-content: space-between;
}


/*-----------*/
/* Temporary */
/*-----------*/


.white-border {
    border: 1px dashed white;
}